<!DOCTYPE html>
<html xmlns="http://wwww.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<head>
	<meta charset="UTF-8">
</head>

<body>
	<main th:object="${item}">
		<div class="row">
			<div class="card border-info w-100">
				<img class="card-img-top" th:src="@{|/assets/images/*{image}|}" alt="" style="height: 600px">
			</div>
			<div class="card w-100 mt-2 border-info">
				<div class="card-body">
					<ul>
						<li th:text="*{name}"></li>
						<li th:text="*{price}"></li>
						<li th:text="*{createDate}"></li>
						<li th:text="*{category.name}"></li>
					</ul>
				</div>
				<div class="card-footer">
					<button class="btn btn-success float-right"><i class="fas fa-shopping-cart    "></i></button>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="card mt-2 border-info w-100">
				<div class="card-header h3 bg-info text-white">
					HÀNG CÙNG LOẠI
				</div>
				<div class="card-body">
					<ul>
						<li th:each="p : *{category.products}">
							<a th:href="@{|/product/detail/${p.id}|}">[[${p.name}]]</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</main>
</body>

</html>