<!DOCTYPE html>
<html xmlns="http://wwww.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
</head>
<body>
	<main>
		<div th:replace="~{/cart/view :: shopping_cart}"></div>
		<div class="card mt-2 border-info">
			<div class="card-header bg-info text-white">ORDER PURCHASING</div>
			<div class="card-body">
				<div class="form row">
					<div class="form-group col-sm-6">
						<label for="purchaser">Purchaser</label>
						<div class="form-control" id="username">[[${#request.remoteUser}]]</div>
					</div>
					<div class="form-group col-sm-6">
						<label for="orderdate">Order Date</label>
						<div class="form-control">{{order.createDate | date :
							'dd-MM-yyyy'}}</div>
					</div>
				</div>
				<div class="form-group">
					<label for="address">Shipping Address</label>
					<textarea id="address" class="form-control" name="address" rows="3"
						ng-model="order.address"></textarea>
				</div>
			</div>
			<div class="card-footer text-muted">
				<button class="btn btn-success float-right"
					ng-click="order.purchaser()">Purchaser</button>
			</div>
		</div>
	</main>
</body>
</html>